@import '~patternfly/dist/sass/patternfly/variables';
@import '~patternfly-react/dist/sass/inline-edit';

.editable {
  &.changed {
    font-weight: bold;
  }
}

.pf-table-inline-edit {
  .form-group {
    margin-bottom: 0;
  }
}
.option-tooltip-container {
  display: inline-block;
  margin-left: 10px;
  margin-top: 3px;
  width: 10px;
}
